body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr 6fr 1fr;
    text-align: center;
    height: 100vh;
    margin: 0;
    gap: 1em;
}

header {
    grid-area:  1 / 2 / 2 / 3;
    background-color: #1893D6;
}

nav {
    grid-area: 1  / 1 / 4 / 2;
    background-color: #CC2771;
}

main {
    grid-area: 2 / 2 / 3 / 3 ;
    background-color: #F8DD35;
}

footer {
    grid-area: 3 / 2 / 4 / 3 ;
    background-color: black;
    color: white;
}